@inject IJSRuntime js

<input type="checkbox" @bind="displayButtons" />
<ListadoGenerico Listado="Peliculas">
    <Cargando>
        <div class="alert alert-secondary" role="alert">
            Cargando...
        </div>
    </Cargando>
    <NoHayRegistros>
        <div class="alert alert-primary" role="alert">
            No hay registros para mostrar!
        </div>
    </NoHayRegistros>
    <HayRegistros Context="pelicula">
        <SingleMovie Pelicula="pelicula"
                     DisplayButton="displayButtons"
                     DeleteMovie="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>


@code{

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"OnInitialized: cantidad de películas: {Peliculas.Count}");
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParametersSet: cantidad de películas: {Peliculas.Count}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender: primera renderización: {firstRender}");
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine("ShouldRender");
        return true;
    }

    bool displayButtons = false;

    async Task EliminarPelicula(Pelicula pelicula)
    {
        var confirmado = await js.Confirm($"¿Realmente desea eliminar la película {pelicula.Titulo}?");
        if (confirmado)
        {
            Peliculas.Remove(pelicula);
            Console.WriteLine($"Se eliminó la película {pelicula.Titulo}");
        }

    }

}