@if (Peliculas == null)
{
    <text>Cargando...</text>
}
else if (Peliculas.Count == 0)
{
    <div class="p-3 mb-2 bg-info text-white">No hay películas para mostrar</div>
}
else
{
    <input type ="checkbox"  @bind="displayButtons"/>

    @foreach (Pelicula item in Peliculas)
    {
        <SingleMovie Pelicula="item" 
                     DisplayButton="displayButtons"
                     DeleteMovie="EliminarPelicula"/>
    }
}

@code{

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }

    bool displayButtons = false;

    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
        Console.WriteLine($"Se eliminó la película {pelicula.Titulo}");
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    await Task.Delay(3000);
    //    Peliculas = ObtenerPeliculas();
    //}
}