
<input type="checkbox" @bind="displayButtons" />
<ListadoGenerico Listado="Peliculas">
    <Cargando>
        <div class="alert alert-secondary" role="alert">
            Cargando...
        </div>
    </Cargando>
    <NoHayRegistros>
        <div class="alert alert-primary" role="alert">
            No hay registros para mostrar!
        </div>
    </NoHayRegistros>
    <HayRegistros Context="pelicula">
        <SingleMovie Pelicula="pelicula"
                     DisplayButton="displayButtons"
                     DeleteMovie="EliminarPelicula" />
    </HayRegistros>
</ListadoGenerico>


@code{

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }



    bool displayButtons = false;

    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
        Console.WriteLine($"Se eliminó la película {pelicula.Titulo}");
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    await Task.Delay(3000);
    //    Peliculas = ObtenerPeliculas();
    //}
}