@page "/generos/crear"

<h3>Crear género</h3>

<FormularioGenero Genero="genero" OnValidSubmit="Crear" />

@code {

    private Genero genero = new Genero();

    void Crear()
    {
        Console.WriteLine("Ejecutando método crear");
        Console.WriteLine($"Nombre del género: {genero.Nombre}");
    }
}
