@page "/peliculas/crear"
@inject NavigationManager navigationManager 

<h3>Crear película</h3>
<FormularioPeliculas Pelicula="pelicula" OnValidSubmmit="Crear"></FormularioPeliculas> 

@code {
    private Pelicula pelicula = new Pelicula();

    void Crear()
    {
        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");
    }
}