@page "/peliculas/editar/{PeliculaId:int}"

<h3>Editar película</h3>
<FormularioPeliculas Pelicula="pelicula" OnValidSubmmit="Editar"></FormularioPeliculas>


@code {
    [Parameter] public int PeliculaId { get; set; }
    Pelicula pelicula = new Pelicula();

    protected override void OnInitialized()
    {
        pelicula = new Pelicula { Id = PeliculaId, Titulo = "Mi Película" };
    }

    private void Editar()
    {
        Console.WriteLine("Editando película");
    }
}
