@page "/personas/editar/{PersonaId:int}"

<h3>Editar persona</h3>
<FormularioPersonas Persona="persona" OnValidSubmit="Editar"/>

@code {

    [Parameter] public int PersonaId { get; set; }
    private Persona persona;

    protected override void OnInitialized()
    {
        persona = new Persona
        {
            Id = PersonaId,
            Nombre = "Julio César Yepes Ruiz",
            FechaNacimiento = DateTime.Today
        };

    }

    void Editar()
    {
        Console.WriteLine("Editando a la persona");
    }
}
