@page "/"

<h3>Películas</h3>
<br />
<div>
    <MoviesList Peliculas="ObtenerPeliculas()"/>
</div>

<h2>Crear película</h2>
<EjemploTextBox placeholder ="Nombre de la película" />

@code{ 


    /// <summary>
    /// Obtener lista de películas
    /// </summary>
    /// <returns></returns>
    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
    {
            new Pelicula{Titulo = "Spider-Man: Far from home", Lanzamiento = new DateTime(2020, 6, 18)},
            new Pelicula{Titulo = "Moana", Lanzamiento = new DateTime(2016, 11, 23)},
            new Pelicula{Titulo = "Inception", Lanzamiento = new DateTime(2010, 7, 16)}
        };
    }
}