@page "/"
@inject IRepositorio repositorio

<h3>Películas</h3>
<br />
<div>
    <MoviesList Peliculas="Peliculas" />
</div>

<hr />
<h3>Crear película</h3>
<EjemploTextBox placeholder ="Nombre de la película" enabled ="true" />
<button class="btn btn-primary" @onclick="AgregarPelicula">Agregar película</button>
@code{ 

    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula { Titulo = "Nueva película", Lanzamiento = DateTime.Today});
    }
}